<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gracehoppers.jlovas.bookwrm" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".AddBookScreen"
            android:label="@string/title_activity_add_book_screen" >
        </activity>
        <activity
            android:name=".FriendsScreen"
            android:label="@string/title_activity_friends_screen" >
        </activity>
        <activity
            android:name=".ProfileScreen"
            android:label="@string/title_activity_profile_screen" >
        </activity>
        <activity
            android:name=".HistoryOfTradesScreen"
            android:label="@string/title_activity_history_of_trades_screen" >
        </activity>
        <activity
            android:name=".FriendProfileScreen"
            android:label="@string/title_activity_friend_profile_screen" >
        </activity>
        <activity
            android:name=".AddCommentsScreen"
            android:label="@string/title_activity_add_comments_screen" >
        </activity>
        <activity
            android:name=".EditBookActivity"
            android:label="@string/title_activity_edit_book" >
        </activity>
        <activity
            android:name=".CreateTradeScreen"
            android:label="@string/title_activity_create_trade_screen" >
        </activity>
        <activity
            android:name=".SelectFromBorrowerInventoryActivity"
            android:label="@string/title_activity_select_from_borrower_inventory" >
        </activity>
        <activity
            android:name=".SelectFromOwnerInventoryActivity"
            android:label="@string/title_activity_select_from_owner_inventory" >
        </activity>
        <activity
            android:name=".ViewBookActivity"
            android:label="@string/title_activity_view_book" >
        </activity>
        <activity
            android:name=".CounterTradeScreen"
            android:label="@string/title_activity_counter_trade_screen" >
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name=".SelectCounterBooksActivity"
            android:label="@string/title_activity_select_counter_books" >
        </activity>
        <activity
            android:name=".ProcessTradeScreen"
            android:label="@string/title_activity_process_trade_screen" >
        </activity>
        <activity
            android:name=".ViewFRActivity"
            android:label="@string/title_activity_view_fr" >
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
        <activity
            android:name=".ViewTradeActivity"
            android:label="@string/title_activity_view_trade" >
        </activity>
        <activity
            android:name=".TopTraderActivity"
            android:label="@string/title_activity_top_trader" >
        </activity>
    </application>

</manifest>
