<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gracehoppers.jlovas.bookwrm" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".AddBookScreen"
            android:label="@string/title_activity_add_book_screen" >
        </activity>
        <activity
            android:name=".FriendsScreen"
            android:label="@string/title_activity_friends_screen" >
        </activity>
        <activity
            android:name=".ProfileScreen"
            android:label="@string/title_activity_profile_screen" >
        </activity>
        <activity
            android:name=".HistoryOfTradesScreen"
            android:label="@string/title_activity_history_of_trades_screen" >
        </activity>
        <activity
            android:name=".FriendProfileScreen"
            android:label="@string/title_activity_friend_profile_screen" >
        </activity>
        <activity
            android:name=".AddCommentsScreen"
            android:label="@string/title_activity_add_comments_screen" >
        </activity>
        <activity
            android:name=".EditBookActivity"
            android:label="@string/title_activity_edit_book" >
        </activity>
        <activity
            android:name=".ProcessTradeScreen"
            android:label="@string/title_activity_process_trade_screen" >
        </activity>
    </application>

</manifest>
